@using Imoty.Web.ViewModels.Search;
@model SearchIndexViewModel
@{
    ViewData["Title"] = "Search Properties";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<hr />

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn-outline-primary">search</button>
</div>

<hr />
<form asp-action="List" method="post">
    @foreach (var tag in Model.Tags)
    {
        <input id="property_@tag.Id" type="checkbox" name="Tags" value="@tag.Id" />
        <label for="property_@tag.Id">@tag.Name</label>
    }
    <button type="submit" class="btn btn-outline-primary">search</button>
</form>
