@using Imoty.Web.ViewModels.AddAd;
@model AddWarehouseViewModel
@{
    this.ViewData["Title"] = "Add Warehouse";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-primary border-bottom box-shadow mb-3">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="AddAd" asp-action="AddHouse">Add house</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="AddAd" asp-action="AddApartment">Add apartment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="AddAd" asp-action="AddBusinesStore">Add office/store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="AddAd" asp-action="AddField">Add field</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="AddAd" asp-action="AddWarehouse">Add warehouse</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>

<form method="post" class="col-md-6 offset-md-3">
    <div>
        <label asp-for="Type"></label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-center"></span>
    </div> 

    <div>
        <label asp-for="Town"></label>
        <input asp-for="Town" class="form-control" />
        <span asp-validation-for="Town" class="text-center"></span>
    </div>

    <div>
        <label asp-for="District"></label>
        <input asp-for="District" class="form-control" />
        <span asp-validation-for="District" class="text-center"></span>
    </div>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-center"></span>
    </div>

    <div>
        <label asp-for="Construction"></label>
        <input asp-for="Construction" class="form-control" />
        <span asp-validation-for="Construction" class="text-center"></span>
    </div>
    
    <div>
        <label asp-for="SquareMeters"></label>
        <input asp-for="SquareMeters" class="form-control" />
        <span asp-validation-for="SquareMeters" class="text-center"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-center"></span>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>
