@{
    ViewData["Title"] = "About";
}
<div class="hero page-inner overlay"
     style="background-image: url('images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">About</h1>

                <nav aria-label="breadcrumb"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50"
                            aria-current="page">
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row text-left mb-5">
            <div class="col-12">
                <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">
                    About Us

                    Welcome to Imoty, your trusted partner in the world of property selling. We understand that buying or selling a property is one of the most significant financial and emotional decisions in your life. That's why we are committed to making this process as smooth and enjoyable as possible.
                </p>
                <p class="text-black-50">
                    Our Story

                    Founded in 2023, Imoty emerged as a response to the challenges people face when dealing with real estate transactions. Our founders, with years of experience in the real estate industry, envisioned a platform that would simplify the process, providing transparency, reliability, and a user-friendly experience to both buyers and sellers.
                </p>
                <p class="text-black-50">
                    Our Mission

                    At Imoty, our mission is simple: to help you find your dream property or sell your current one, hassle-free. We are here to empower you with the knowledge, tools, and support you need to make the best decisions for your real estate investments.
                </p>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">
                    Why Choose Us

                    Expertise: Our team comprises real estate experts who are dedicated to understanding the market, trends, and customer needs. We'll guide you through every step of your real estate journey.

                    Transparency: We believe in complete transparency. No hidden fees, no surprises. You'll always know what to expect when working with us.

                    User-Friendly Platform: Our website and app are designed to be user-friendly, ensuring you can easily browse listings, access information, and connect with us at your convenience.

                    Personalized Service: We know that each property transaction is unique. That's why we offer personalized solutions to meet your specific requirements.

                    Global Reach: While we have local expertise, we also have a global reach. We connect buyers and sellers from around the world, expanding your options.
                </p>
                <p class="text-black-50">
                    Our Services

                    Property Listings: Whether you're in the market for a new home, an investment property, or looking to sell, our extensive property listings have something for everyone.

                    Consultation: Our team of experts is ready to answer your questions, provide market insights, and offer guidance to help you make informed decisions.

                    Legal and Financial Assistance: We can connect you with trusted legal and financial partners who will ensure a smooth and secure transaction.

                    Marketing and Promotion: If you're selling a property, our marketing and promotion services will help you find the right buyer quickly.
                </p>
                <p class ="text-black-50">
                    Join Us

                    Are you ready to embark on your property journey with us? Whether you're buying or selling, Imoty is here to make the process easier, more enjoyable, and ultimately, more successful. Connect with us today, and let's get started on your path to property success.

                    Thank you for considering Imoty as your partner in property selling. We look forward to working with you and being a part of your real estate success story.
                </p>
            </div>
        </div>
    </div>
</div>