@using Imoty.Common;
@{
    this.ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>Welcome to @GlobalConstants.SystemName</h2>
</div>

<hr />

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
</div>

<hr />

<table class="table table-bordered table-sm table-hover">
    @for (int i = 1; i < 11; i++)
    {
        <tr>
            <th>@i</th>
            <th>@(i * i)</th>
        </tr>
    }
</table>

<hr />