@using Imoty.Common;
@{
    this.ViewData["Title"] = "Ново строителство";
}
<div class="text-center">
    <h1>Welcome to @GlobalConstants.SystemName</h1>

    <p>Can't find any new buildings yet</p>
</div>